.grid-div {
    border: 1px solid black;
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: row;
}

.container {
    border: 2px solid black;
    width: 512px;
    display: flex;
    flex-wrap: wrap;
}

.alert-text{
    color: red;
}